.Commontitlebutton {
  padding: 6px 20px;
  background-color: #384bff1a;
  border-radius: 100px;
  margin-bottom: 20px;
  width: fit-content;

  span {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, #240cf2, #00a9b5);
  }
}
