.Commontitlebuttonsecond {
  padding: 6px 20px;
  background-color: #f6f3fe1a;
  border-radius: 100px;
  margin-bottom: 20px;
  width: fit-content;

  span {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFF;
  }
}
